
/* started styling the footer section here */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.footer_section{
    background: #5D6AE0;
    margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;

}

.toppage h5{
    text-transform: uppercase;
    font-size: 20px;
    text-align:center;
    color: #FFFFFF;
    padding-top:2em;
    /* font-family:Arial, Helvetica, sans-serif; */

}
.toppage {
    text-align: center;
}
.toppage a{
    text-decoration:none;
    font-size: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.toppage img{
    padding-top: 2em;
}
.footer_private_policy{
    display:flex;
    justify-content: space-evenly;
    padding-top: 2em;
}

.footer_private_policy ul{
    list-style: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #FFFFFF;
    line-height: 2em;
    /* font-family: Arial, Helvetica, sans-serif; */
    cursor:pointer;
}

.footer_product{
    padding-top:5em;
}

.footer_link h5{
    padding-bottom: 3em;
    color: #FFFFFF;
    text-transform:uppercase;
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.footer_condition p{
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 2em 0 2em 0;
}
.footer_media{
    display:flex;
    gap: 1.5em;
    cursor:pointer;
    justify-content: center;
}

